.vscode/**
.vscode-test/**
src/**
out/**
node_modules/**
!node_modules/serialport/**
!node_modules/@serialport/**
.gitignore
.prettierrc
eslint.config.mjs
tsconfig.json
esbuild.js
.vscode-test.mjs
CLAUDE.md
**/*.map
**/*.ts
*.vsix
