.vscode/**
.vscode-test/**
src/**
out/**
node_modules/**
!node_modules/serialport
!node_modules/serialport/**
!node_modules/@serialport
!node_modules/@serialport/**
!node_modules/debug
!node_modules/debug/**
!node_modules/ms
!node_modules/ms/**
!node_modules/node-gyp-build
!node_modules/node-gyp-build/**
.gitignore
.prettierrc
eslint.config.mjs
tsconfig.json
esbuild.js
.vscode-test.mjs
CLAUDE.md
**/*.map
**/*.ts
*.vsix
